@font-face {
	font-family: roboto;
	src: url(robotolight.ttf);
}
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-family: roboto;
	overflow-x: hidden;
}

#logo {
	height: 10;
}
#about {
	text-transform: uppercase;
	font-size: 2em;
	margin-top: 15%;
	margin-left: -20%; 
	text-align: center;
	word-wrap: all;
}

#quote {
	padding-top: 50px;
	border: 0px solid;
	margin-top: 15%;
	margin-left: -20%;
}

#quote>footer {
	text-align: right;
}

.container {
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(255, 255, 255, 0.92);
	width: 100%;
	height: auto;
	min-height: 100%; 
}

#button {
	background-color: transparent;
	text-transform: uppercase;
	color: blue;
	font-weight: bold;
	font-size: 1.5em;
	border: 0px solid;
}

ul {
	display: inline;
	list-style-type: none;
}

li {
	display: inline;
	margin-left: 10px;
}

.text {
	border: 0px solid black;
	border-bottom-width: 1px;
	background: transparent;
	transition: all 0.2s ease;
}

.text:focus {
	border-bottom-width: 2px;
}

*:focus {
	outline: none;
}

#leftCol {
	height: 100%;
	z-index: 2;
}

#leftCol>.row {
	margin-top: 10%;
}

#rightCol {
	border: 0px solid green;
	border-top-width: 2px;
	z-index: 0;
}

#rightCol>.row {
	padding-top: 3%;
	padding-bottom: 3%;
	font-size: 2.2em;
	text-align: center;
	border: 0px solid green;
	border-bottom-width: 2px;
}

#rightCol>div>div>a {
	font-weight: bolder;
	color: green;
	text-decoration: none; 
}

@media only screen and (max-width:1024px) {
	#circle {
		display: none;
	}
	#about, #quote {
		margin: 0px;
	}
	.container {
		background: rgba(255, 255, 255, 0.8);
	}
}
@media only screen and (max-width:768px) {
	#circle {
		display: none;
	}
	#about, #quote {
		margin: 0px;
	}
	li {
		padding: 0px;
		text-align: center;
		display: block;
		margin-top: 20px;
	}
}