@font-face {
	font-family: rugged;
	src: url(gloriahallelujah.ttf);
}
body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
#home {
	transform: scale(0.95);
}
#logo {
	width: 60%;
	margin-left: 20%;
}
#info {
	padding-top: 5%;
}
.row {
	z-index: 2;
}
#about {
	font-family: rugged;
	font-weight: bolder;
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
}
#quote {
	font-family: rugged;
	font-weight: lighter;
	font-size: 24px;
	text-align: center;
	border: 0px solid;
}
#sign-up {
	list-style-type: none;
	margin-top: 10%;
	padding: 0px;
	text-align: center;
}
#sign-up>li {
	display: inline;
	margin-right: 20px; 
}
.txt-box {
	border: 0px solid rgb(210, 210, 210);
	border-bottom-width: 2px;
	background: transparent;
	font-size: 16px;
	transition: border 0.5s ease;
}
.txt-box:focus {
	border: 0px solid rgb(10, 10, 10);
	border-bottom-width: 2px;
}
*:focus {
	outline: none;
}
#sign-up-but {
	background: transparent;
	border: 0px solid;
	text-transform: uppercase;
	font-size: 20px;
}